.main-layout {
  padding: 20px;
  margin-left: 230px;
  margin-top: 50px;
}

.table-layout {
  width: 100%;
  border-collapse: separate;
  border-spacing: 30px 20px;

}

.first-row th {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: inline-block;
  margin-right: 50px;
  justify-content: center; 
  align-items: center; 
}

.first-row th:nth-child(1) {
  width: auto;
}

.first-row th:nth-child(2) {
  width: auto;
}

.first-row th:nth-child(3) {
  width: auto;
}

.second-row th {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.second-row th:nth-child(1) {
  width: 70%;
}

.second-row th:nth-child(2) {
  width: 30%;
}
