.main-layout {
  padding: 20px;
  margin-left: 250px;
  margin-top: 60px;
}

.table-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first-row,
.second-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.first-row th,
.second-row th {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  flex: 1;
}

.first-row th,
.second-row th {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-row th:nth-child(1),
.first-row th:nth-child(2),
.first-row th:nth-child(3),
.second-row th:nth-child(1),
.second-row th:nth-child(2) {
  width: auto;
}

@media screen and (max-width: 768px) {
  .table-layout {
    gap: 10px;
  }

  .first-row,
  .second-row {
    flex-direction: column;
    gap: 15px;
  }
}