.task-list-container {
  background-color: #ffffff;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 280px;
  margin-top: 80px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.add-task-form { /* Style for the form container */
  display: grid;
  grid-column: span 8;
  grid-template-columns: repeat(6, 1fr); /* Adjusted for 5 columns */
  gap: 10px;
  margin-top: 20px;
  padding: 10px; /* Reduced padding */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-task-form input,
.add-task-form textarea {
  padding: 8px; /* Reduced padding */
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-buttons { 
  display: flex;
  justify-content: flex-end; /* Canh phải các button */
  gap: 10px;
}

.add-task-form button { /* Style for the buttons */
  width: 80px;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-task-form .confirm { /* Style for the "Xác nhận" button */
  background-color: #28a745; /* Green color */
  color: white;
}

.add-task-form .cancel { /* Style for the "Hủy" button */
  background-color: #dc3545; /* Red color */
  color: white;
}

.add-task-form button:hover {
  opacity: 0.8;
}