.kpi-header {
  font-family: 'Nunito-Regular';
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 65px;
  align-items: center;
  width: 100%;
}

.kpi-title {
  font-family: 'Nunito-Regular';
  font-size: 40px;
  font-weight: 900;
  color: #1f2d46;
}

.kpi-steps {
  display: flex;
  gap: 50px;
  font-family: 'Nunito-Regular';
  justify-content: center;
}

.kpi-step {
  font-family: 'Nunito-Regular';
  display: flex;
  align-items: center;
  gap: 50px;
}

.step-circle-draf,
.step-circle-waiting,
.step-circle-completed {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #e3edff;
}

.step-circle-draf.active {
  background-color: #226cff;
}

.step-circle-waiting.active {
  background-color: #226cff;
}

.step-circle-completed.active {
  background-color: #226cff;
}

/* Default circle colors */
.step-circle-draf {
  background-color: #e3edff;
}

.step-circle-waiting {
  background-color: #cecece;
}

.step-circle-completed {
  background-color: #cecece;
}

.step-line {
  width: 250px;
  height: 13px;
  border-radius: 5px;
}

/* Default line colors */
.step-line.incomplete {
  background-color: #cecece;
}

.step-line.completed {
  background-color: #226cff;
}